<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="2" android:versionName="1.1" package="cz.bubyx.CophiPoint" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="CophiPoint.Android">
		<activity android:name="net.openid.appauth.RedirectUriReceiverActivity" tools:node="replace">
			<!-- Filter which captures custom scheme based redirects for Google authorization requests. -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="$CUSTOM_SCHEME" android:host="connect" />
				<!--TODO customize-->
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>